body {
  background-image: url(https://images.unsplash.com/photo-1517416451146-496a3e48ab6b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  height: 80vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}